cloudamqp_api_key = {{ onepasswordRead "op://Ester Secrets/Terraform Secrets/cloudamqp" | quote }}
slack_alarm_webhook = {{ onepasswordRead "op://Ester Secrets/Terraform Secrets/slack_alarm_webhook" | quote }}
