source_up .envrc

export PATH=${PATH}:${PWD}/.bin
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )

export GOPRIVATE=github.com/thegoodfeed

export BUILDKITE_API_TOKEN={{ regexReplaceAll "(?s).*BuildkiteTokenGoodfeed:([^\n]+).*" (secretJSON "item" "view" "--vault-name" "Personal" "--item-title" "auths" "--output" "json").item.content.note "${1}" }}

export AWS_SSO_CONFIG=${PWD}/.aws-sso/config
export AWS_CONFIG_FILE=${PWD}/.aws/config
#export AWS_SDK_LOAD_CONFIG=1
