[user]
  name = Peter Svensson
  email = peter@sparetimecoders.com
  signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub

[committer]
  name = Peter Svensson
  email = peter@sparetimecoders.com
  signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub

[alias]
  ci = commit
  ca = commit --amend
  co = checkout
  go = checkout -B
  st = status
  s = status --short --branch
  graph = log --graph
  up = pull --rebase --autostash

[branch]
  sort = -committerdate

[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = /opt/homebrew/bin/nvim
  pager = delta

[delta]
  dark = true
  paging = always
  syntax-theme = ansi
  navigate = true
  side-by-side = true

[interactive]
  diffFilter = delta --color-only

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[help]
  autocorrect = 20

[rerere]
  enabled = true
  autoupdate = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[github]
  user = peter-svensson

[pull]
  rebase = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[commit]
  gpgsign = true
  verbose = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = {{ .chezmoi.homeDir }}/.git_allowed_signers

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[url "ssh://git@github.com/sparetimecoders/"]
  insteadOf = https://github.com/sparetimecoders/

[fetch]
	prune = true
	pruneTags = true
	all = true

[init]
	defaultBranch = main

[tag]
  sort = version:refname


[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[gitbutler]
  signCommits = true
  aiOpenAIKeyOption = bringYourOwn
  aiOpenAIModelName = gpt-4o-mini

[includeIf "gitdir:~/source/keenfinity/"]
  path = ~/source/keenfinity/.gitconfig
