export AWS_PROFILE=stc
export AWS_REGION=eu-west-1
export AWS_DEFAULT_REGION=eu-west-1

export DOCKERHUB_USERNAME=sparetimecoders
export DOCKERHUB_PASSWORD={{ protonPass "pass://Personal/auths/DockerhubPassword" | trim }}
export GITHUB_TOKEN={{ protonPass "pass://Personal/auths/GithubToken" | trim }}

export DISCOGS_TOKEN={{ protonPass "pass://Personal/auths/Discogs" | trim }}

