tap "aws/tap"
tap "golangci/tap"
tap "homebrew/bundle"
tap "remind101/formulae"
tap "warrensbox/tap"
brew "ack"
brew "act"
brew "readline"
brew "asciinema"
brew "asdf"
brew "atuin"
brew "autoconf"
brew "automake"
brew "aws-iam-authenticator"
brew "awscli"
brew "bash"
brew "bash-completion@2"
brew "bat"
brew "boost"
brew "checkov"
brew "chezmoi"
brew "cli53"
brew "cmake"
brew "coreutils"
brew "direnv"
brew "findutils"
brew "gdbm"
brew "gh"
brew "git"
brew "git-delta"
brew "gitleaks"
brew "python-packaging"
brew "glib"
brew "glow"
brew "gnu-getopt"
brew "gnu-sed"
brew "gnu-tar"
brew "libevent"
brew "gnupg"
brew "grep"
brew "gron"
brew "helm"
brew "hub"
brew "jq"
brew "kind"
brew "kubernetes-cli"
brew "kops"
brew "kube-ps1"
brew "kustomize"
brew "lastpass-cli"
brew "ldns"
brew "libidn"
brew "libpq"
brew "libwebsockets"
brew "libxml2"
brew "lzo"
brew "make"
brew "moreutils"
brew "netcat"
brew "nmap"
brew "nvm"
brew "openssh"
brew "p7zip"
brew "pcre"
brew "pipx"
brew "pkgconf"
brew "postgresql@16", link: true
brew "pre-commit"
brew "protobuf"
brew "pv"
brew "pyenv"
brew "python-argcomplete"
brew "python@3.11"
brew "rbenv"
brew "rsync"
brew "ruby"
brew "screen"
brew "shellcheck"
brew "shfmt"
brew "socat"
brew "ssh-copy-id", link: true
brew "starship"
brew "stern"
brew "tcpdump"
brew "telnet"
brew "tflint"
brew "tmux"
brew "tree"
brew "vim"
brew "watch"
brew "wget"
brew "yq"
brew "zsh"
brew "golangci/tap/golangci-lint"
brew "remind101/formulae/assume-role"
brew "warrensbox/tap/tfswitch"
cask "datagrip"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "gitbutler"
cask "goland"
cask "hammerspoon"
cask "insomnia"
cask "ngrok"
cask "orbstack"
cask "session-manager-plugin"

{{- if eq .chezmoi.hostname "lambda" }}
tap "buildkite/buildkite"
tap "buildtool/taps"
tap "goreleaser/tap"
tap "updatecli/updatecli"

brew "buildkite/buildkite/buildkite-agent"
brew "buildtool/taps/build-tools"
cask "arc"
cask "backblaze"
cask "discord"
cask "google-chrome"
brew "goreleaser/tap/goreleaser"
brew "k3d"
cask "pycharm"
cask "slack"
cask "whatsapp"
cask "zoom"
{{- end }}
