authtoken: {{ regexReplaceAll "(?s).*token:([^\n]+).*" (secretJSON "item" "view" "--vault-name" "Personal" "--item-title" "ngrok" "--output" "json").item.content.note "${1}" }}
version: 2
region: eu
tunnels:
  test:
    addr: 6801
    proto: http
  stc:
    addr: 80
    proto: http
    subdomain: stc
