authtoken: {{ template "protonPassNoteField" (dict "vault" "Personal" "item" "ngrok" "field" "token") }}
version: 2
region: eu
tunnels:
  test:
    addr: 6801
    proto: http
  stc:
    addr: 80
    proto: http
    subdomain: stc
