source_up .envrc

# Scaleway staging
export SCW_ACCESS_KEY=SCWMEYC3XV49TWA9C8R6
export SCW_SECRET_KEY=728fa68a-1f99-421a-9670-6a93f0dd9b65
export SCW_DEFAULT_ORGANIZATION_ID=24d5f96d-442b-49a8-b9ef-b6f029a7220f
