source_up .envrc

export PATH=${PATH}:${PWD}/.bin
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )
export K8S_RDS_CONFIG=${PWD}/.kube/rds_config

export GOPRIVATE=github.com/intersolia

#export BUILDKITE_API_TOKEN=

export AWS_SSO_CONFIG=${PWD}/.aws-sso/config
export AWS_CONFIG_FILE=${PWD}/.aws/config
export AWS_REGION=eu-north-1
export AWS_DEFAULT_REGION=eu-north-1

# Stategraph/Terraform
export STATEGRAPH_API_KEY={{ protonPass "pass://Intersolia/auths/StategraphApiKey" | trim }}

export STATEGRAPH_API_BASE="https://stategraph.platform.intersolia.io"
export STATEGRAPH_TENANT_ID=254f9e3a-868a-4e6f-8e64-4a4edc0e99e9
export TF_CMD=terraform

# Grafana logs token
export CLAUDE_GRAFANA_TOKEN={{ protonPass "pass://Intersolia/auths/ClaudeGrafanaToken" | trim }}

# Upcloud token
export UPCLOUD_USERNAME=terraform-dev
export UPCLOUD_PASSWORD={{ protonPass "pass://Intersolia/auths/UpCloudToken" | trim }}

# Turbo remote repo
export TURBO_TOKEN=${GITHUB_TOKEN}
export TURBO_API=https://turbo-cache.platform.intersolia.io
export TURBO_TEAM=intersolia
export TURBO_TEAMID=team_intersolia
