source_up .envrc

export PATH=${PATH}:${PWD}/.bin
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )

export GOPRIVATE=github.com/intersolia

#export BUILDKITE_API_TOKEN={{ (index (lastpass "devenv/auths") 0).note.buildkiteTokenGoodfeed -}}

export AWS_SSO_CONFIG=${PWD}/.aws-sso/config
export AWS_CONFIG_FILE=${PWD}/.aws/config
export AWS_REGION=eu-north-1
