source_up .envrc

export PATH=${PATH}:${PWD}/.bin
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )
export K8S_RDS_CONFIG=${PWD}/.kube/rds_config

export GOPRIVATE=github.com/intersolia

#export BUILDKITE_API_TOKEN=

export AWS_SSO_CONFIG=${PWD}/.aws-sso/config
export AWS_CONFIG_FILE=${PWD}/.aws/config
export AWS_REGION=eu-north-1
export AWS_DEFAULT_REGION=eu-north-1

# Stategraph/Terraform
export STATEGRAPH_API_KEY={{ template "protonPassNoteField" (dict "vault" "Intersolia" "item" "auths" "field" "StategraphApiKey") }}
export STATEGRAPH_API_BASE="https://stategraph.platform.intersolia.io"
export TF_HTTP_USERNAME="session"
export TF_HTTP_PASSWORD="${STATEGRAPH_API_KEY}"
